
/* #mark Constants */

body {
	background-color:#F9F9F9;
	font-family: Arial, sans-serif;
	font-size: .85em;
	}

a {
	text-decoration: none;
	color:#1D5669;
	}

h1 {
	color:#1D5669;
	font-size: 1.5em;
	font-weight: bold;
	}

h2 {
	font-weight: bold;
	font-size: 1em;
	padding-bottom: .5em;
	}

/* #mark Banner */

#banner {
	background: #444;
	border-bottom: 1px solid #222;
	padding: 1em;
	}

#banner a {
	color: white;
	font-size: 1.5em;
	font-weight: bold;	
	}

/* #mark App body */	

#content {
	width: 60em;
	margin: 1em auto;
	}


/* #mark left column */

#left-column {
	width: 70%;
	padding: 1em;
  float: left;
	}

/* #mark Wishlist items */

.wishlist-item {
	padding: 1em 0;
	overflow:hidden;
	clear: both;
	border-bottom: 1px dashed #999;
	}

.description {
	color:#555;
	line-height: 120%;
	margin-top: 2px;
	clear: both;
	display: block;
	margin: 5px 0px;
	}

.tag {
	background: #E7F0F0;
	border: 1px solid rgba(0, 0, 0, 0.0976562);
	border-radius: 8px;
	float: left;
	line-height: 100%;
	margin-right: 2px;
	margin-top: 2px;
	padding: 1px 6px;
	}


/* #mark Nav / Left bar */

#nav {
	padding: 1em;
	width: 20%;
	float: right;
	}

#nav ol {
	margin-top: 1em;
	}

#nav_header {
	background: #e4e8eb;
	padding: .5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}

#nav a {
	line-height: 190%;
	color: rgba(100,100,100,0.4);
	-webkit-transition: color .1s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
	}

#nav a:hover {
	color: #333;
	}

#nav b {
	font-size: 130%;
	}