
/* #mark Constants */

body {
	background-color:#F9F9F9;
	font-family: Helvetica, Arial, sans-serif;
	}

a {
	text-decoration: none;
	color:#1D5669;
	}

h2 a:hover {
	text-decoration: underline;
	}

h1, h2, #banner a {
	font-family: HelveticaNeue-Light, Helvetica, sans-serif;
	}

h1 {
	color:#1D5669;
	font-size: 1.5em;
	margin-bottom: .5em;
	}

h2 {
	font-size: 1.2em;
	padding-bottom: .5em;
	}

code {
	font-family: 'Inconsolata', sans-serif;
	background: #FDF6E3;
  color: #2AA198;
	}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

/* #mark Banner */

#banner {
	background: #444;
	border-bottom: 1px solid #222;
	padding: 1em;
	}

#banner a {
	color: white;
	font-size: 1.2em;
	}

/* #mark App body */	

#content {
	width: 50em;
	margin: 1em auto;
	}

/* #mark Home Page */

p {
	font-size: 125%;
	line-height: 1.2;
	width: 45%;
	margin-left: 1%;
	margin-right: 4%;
	margin-top: 1%;
	float: left;
	}

p a {
	text-decoration: underline;
	}

#user-jump {
	width: 48%;
	margin: 1%;
	float: left;
	}

#user-jump h1 {
	font-size: 2.2em;
	margin-bottom: 0;
	}

/*form {
	text-align: center;
	}*/

input {
	font-size: 1.6em;
	border: none;
	vertical-align: middle;
	}

input[type="text"] {
	border: 1px solid #ccc;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
	padding: .5em;
	}

input[type="submit"] {

	font-size: 4em;

	background-color: transparent;
	cursor: pointer;

	text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);

	-webkit-transition: color .1s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;

	}

input[type="submit"]:hover {
	color: #3c3;
	}


/* #mark left column */

#left-column {
	width: 70%;
	padding: 1em;
  float: left;
	}

#left-column h1 {
	float: left;
	}

#left-column h3 {

	color: #999;

	float: right;
	margin-top: .5em;
	}

/* #mark Wishlist items */

.wishlist-item {
	padding: 1em 0;
	overflow:hidden;
	clear: both;
	border-bottom: 1px dashed #999;
	}

.description, .location {
	color:#555;
	font-size: .9em;
	line-height: 120%;
	margin-bottom: .5em;
}

.tags {
	clear: both;
	overflow: hidden;
}

.tag {
	background: #E7F0F0;
	border: 1px solid rgba(0, 0, 0, 0.0976562);
	border-radius: 8px;
	float: left;
	font-size: .8em;
	line-height: 100%;
	margin-right: 5px;
	margin-top: 2px;
	padding: 1px 6px;
	}

.tags li:first-child {
	margin-left: 0;
}


/* #mark Nav / Right bar */

nav {
	padding: 1em;
	margin-top: .5em;
	width: 20%;
	float: right;
	}

nav ol {
	margin-top: 1em;
	}

#nav_header {
	background: #e4e8eb;
	padding: .5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}

nav a {
	font-size: .8em;
	line-height: 190%;
	color: rgba(100,100,100,0.4);
	-webkit-transition: color .1s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
	}

nav a:hover {
	color: #333;
	}

nav b {
	font-size: 130%;
	}